<h1>Cursos</h1>
<hr>

<section id="courses">

    {{items}}

    {{pagination}}

</section>

<hr>

<section id="form">

    <h3>Envie seu curso</h3>

    <form method="post" action="?page=1">

        <div class="form-group">
            <label>Seu nome</label>
            <input type="text" class="form-control" name="usuario" required>
        </div>

        <div class="form-group">
            <label>Nome do curso</label>
            <input type="text" class="form-control" name="nome" required>
        </div>

        <div class="form-group">
            <label>Descrição</label>
            <textarea class="form-control" rows="5" name="descricao" required></textarea>
        </div>

        <div class="form-group">
            <label for="nota">Nota para o curso</label>
            <select class="form-control" id="nota" name="nota" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>

</section>